<h3>Select a Section</h3>
<div class="list-group">
  {% for section in sections %}
    <button
      class="list-group-item list-group-item-action"
      onclick="addToSchedule('{{ section.name }}')">
      Section:{{ section.section }} - Instructor: {{ section.instructor }} - Time: {{ section.time }}
    </button>
  {% endfor %}
</div>

<script>
function addToSchedule(name) {
  const list = document.getElementById('schedule');
  const item = document.createElement('li');
  item.classList.add('list-group-item');
  item.textContent = name;
  list.appendChild(item);
}
</script>
