{% extends 'classes/base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Select a Campus</h2>
  <div class="list-group">
    {% for campus in campuses %}
      <button 
        class="list-group-item list-group-item-action"
        hx-get="{% url 'load_semesters' campus.id %}"
        hx-target="#content"
        hx-swap="innerHTML">
        {{ campus.name }}
      </button>
    {% endfor %}
  </div>

  <div id="content" class="mt-4"></div>
  <hr>
  <h4>Your Schedule</h4>
  <ul id="schedule" class="list-group"></ul>
</div>
{% endblock %}
