{% extends 'classes/base.html' %}

{% block title %}Class viewer{% endblock %}
{% block content %}
<h1>{{campus.name}} - classes</h1>
<ul>
    {% for semester in campus.semesters.all %}
        <li>{{ semester.name }}</li>
        <ul>
            {% for topic in semester.topics.all %}
                <li>{{ topic.name }}</li>
                <ul>
                    {% for course in topic.courses.all %}
                        <li>{{ course.name }}</li>
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Test
                                </button>
                                <ul class="dropdown-menu">
                            {% for section in course.sections.all %}
                                <li><a class="dropdown-item" href="#">Section {{ section.section }}: Instructor - {{section.instructor}}</a></li>
                            {% endfor %}
                                </ul>
                        </div>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}





